<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Hey there!</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/vue.js"></script>
  </head>
  <body>
    <div id='app'>
      <header>
        <h1>
          Get started.
        </h1>
      </header><hr>

      <content>
        <p>Please enter a unique username (3+ chars), and protect it with password (7+ chars).</p><br>

        <form v-on:submit='doAuth' class="welcome-form">
          <label>Username:</label><br>
          <input v-model="uname" type="username" placeholder="alphabetical only" pattern="[a-zA-Z]{3,27}" required v-on:input='checkIfExist' readonly onfocus="this.removeAttribute('readonly');" title="Enter alphabetical username"><br><br>
          <label>Password:</label><br>
          <input v-model="passW" type="password" placeholder="" pattern=".{7,27}" required readonly onfocus="this.removeAttribute('readonly');"><br><br>
          <input type="submit" value="Register" name="register" v-if='couldRegister' v-bind:disabled='submitDisabled'>
          <input type="submit" value="Login" name="login" v-bind:disabled='submitDisabled'>
        </form><br><hr><br>

        <p class="err">{{ err }}</p>
      </content>
    </div>

    <script src="/index.js"></script>
  </body>
</html>
